<!DOCTYPE html>
<!-- Bootstrap Navigation Code -->
<th:block xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="header">
    <div class="col-lg-4 col-md-12">
        <nav class="nav nav-mastfoot justify-content-center">
            <a class="nav-link" href="#">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a class="nav-link" href="#">
                <i class="fab fa-twitter"></i>
            </a>
            <a class="nav-link" href="#">
                <i class="fab fa-instagram"></i>
            </a>
            <a class="nav-link" href="#">
                <i class="fab fa-linkedin"></i>
            </a>
            <a class="nav-link" href="#">
                <i class="fab fa-youtube"></i>
            </a>
        </nav>
</th:block>